.env/
.venv/
.idea/
.vscode/
node_modules/
*.log
*.exe
.devo/
playwright-report/
test-results/
dist/
build/
tests/mock_server/requests/
vscode-extension/bin/*
vscode-extension/dist/*

web/tsconfig.tsbuildinfo
